# import necessary library

In [6]:
import tensorflow as tf
from tensorflow import keras
import gensim
from gensim.models import Word2Vec, KeyedVectors
import pandas as pd

In [2]:
print(tf.__version__)

2.12.0

In [3]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\yandiher\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

# load dataset

In [8]:
df = pd.read_csv('reddit_worldnews_start_to_2016-11-22.csv')

In [9]:
df.head()

   time_created date_created  up_votes  ...  over_18    author  subreddit
0    1201232046   2008-01-25         3  ...    False     polar  worldnews
1    1201232075   2008-01-25         2  ...    False     polar  worldnews
2    1201232523   2008-01-25         3  ...    False     polar  worldnews
3    1201233290   2008-01-25         1  ...    False   fadi420  worldnews
4    1201274720   2008-01-25         4  ...    False  mhermans  worldnews

[5 rows x 8 columns]

In [10]:
news_title = df['title']

In [11]:
news_title[:5]

0                  Scores killed in Pakistan clashes
1                   Japan resumes refuelling mission
2                    US presses Egypt on Gaza border
3       Jump-start economy: Give health care to all
4    Council of Europe bashes EU&UN terror blacklist
Name: title, dtype: object

In [12]:
new_vec = [nltk.word_tokenize(title) for title in news_title]

In [56]:
model = Word2Vec(new_vec, min_count=1)

In [85]:
text = 'house'
vec = model.wv[text]
model.wv.most_similar([vec])

[('house', 1.0),
 ('parliament', 0.5866453647613525),
 ('roof', 0.5769646763801575),
 ('bar', 0.5710370540618896),
 ('hotel', 0.5698408484458923),
 ('office', 0.5542135834693909),
 ('apartment', 0.5528397560119629),
 ('room', 0.5377049446105957),
 ('chamber', 0.5363655090332031),
 ('family', 0.5342022180557251)]